/*
// ## MIXINS ##
=transform($transforms)
-moz-transform:    $transforms
                    -o-transform:      $transforms
                                        -ms-transform:     $transforms
                                                            -webkit-transform: $transforms
                                                                                transform:         $transforms

=border-radius($radius)
-webkit-border-radius: $radius
                        -moz-border-radius:    $radius
                                                -ms-border-radius:     $radius
                                                                        border-radius:         $radius

=appearance($appearance)
-webkit-appearance: $appearance
                     -moz-appearance:    $appearance
                                          -ms-appearance:     $appearance
                                                               appearance:         $appearance

=font-face($name, $path)
@font-face
font-family: $name
              src: url($path + $name + ".svg") format("svg"), url($path + $name + ".woff") format("woff"), url($path + $name + ".ttf") format("truetype")

// ## ANIMATIONS ##
@keyframes fade-in
0%
opacity: 0
z-index: -100
100%
opacity: 1
z-index: -100

@keyframes scale-bounce
0%
+transform(scale(1))
10%
+transform(scale(1.3))
40%
+transform(scale(1.4))
50%
+transform(scale(1.2))
60%
+transform(scale(1.4))
70%
+transform(scale(1.3))
80%
+transform(scale(1.4))
90%
+transform(scale(1.35))
100%
+transform(scale(1.4))

// ## VARS ##
$white: white
$yellow: #FFF32B
$blue: #3BB0FF
$trans-blue: rgba(50, 137, 197, .95)
$red: #FF014E
$green: #66FF00
$slate: #1C2025
$normal-stack: "OperatorMono-Medium", "Lucida Console", Monaco, monospace
$bold-stack: "OperatorMono-Bold", "Lucida Console", Monaco, monospace
*/
// ## FIXTURES ##

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100%;
  width: 100%;
}

.flex-item {
  justify-content: space-between;
}

.tree {
  animation: fade-in 1s ease-in;
  flex-grow: 1;
  padding: 1em;

  ul {
    margin-top: 4em;
    padding: 0;
  }

  li {
    text-align: center;
  }

  .rootNode {
    margin-top: 0em;
  }

  .line {
    border-bottom-color: #0d5ab9;
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -100;
  }

  .node-label {
    align-items: center;
    background-color: rgba(17,21,26,0);
    display: inline-flex;
    height: 2.25rem;
    margin-right: 0.5rem;

    input[type=checkbox] {
      box-sizing: content-box;
      flex-shrink: 0;
      opacity: 0;
      position: relative;
      z-index: 1;
    }

    label {
      cursor: pointer;
      padding-bottom: 2px;
      padding-top: 2px;
    }

    &-content {
      align-items: center;
      background-color: white;
      border: 1px solid;
      border-color: #0d5ab9;
      border-radius: 2500rem;
      color: #0d5ab9;
      cursor: pointer;
      display: flex;
      font-size: 0.75rem;
      height: 2rem;
      line-height: 1rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    &-text {
      max-width: 18rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover .node-label-content, &:hover+ul li .node-label-content {
      background: #c8e4f8;
      color: #000;
      border: 1px solid #94a0b4;
    }
  }
}
